// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_project_desc {
  width: 500px;
  height: 165px;
  resize: none;
}

.show_project_desc {
  height: 200px;
  width: 770px;
  resize:none;
}